// Color Variables
// Bootstrap Color Overrides

$white   : #fff !default;
$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #3a3b45 !default;
$black   : #000 !default;

$blue  : #4e73df !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink  : #e83e8c !default;
$red   : #e74a3b !default;
$orange: #fd7e14 !default;
$yellow: #f6c23e !default;
$green : #1cc88a !default;
$teal  : #20c9a6 !default;
$cyan  : #36b9cc !default;

$primary  : $blue !default;
$secondary: $gray-600 !default;
$success  : $green !default;
$info     : $cyan !default;
$warning  : $yellow !default;
$danger   : $red !default;
$light    : $gray-100 !default;
$dark     : $gray-800 !default;

$body-bg   : #282828;
$body-color: #b3b3b3;
