a {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

a:hover {
  text-decoration: none;
  opacity: 1;
  color: #fff;
}

.player {
  position  : fixed;
  width     : 100%;
  z-index   : 999;
  bottom    : 0;
  background: black;
}

.slidebar-choise {
  margin-left : 0;
  padding-left: 0;
  list-style  : none;
}

.content {
  padding-top: 64px;
  padding-bottom: 64px;
}
